# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/src/main/webapp/dist

# misc
.DS_Store
npm-debug.log*

# logs
/logs

# target
/target
