
.layout{
  height: inherit;
  /*background: url(../../assets/eagle.jpg) no-repeat top;
  background-size: cover;*/
}

.footer{
  text-align: center;
}

.header{
  /*filter:alpha(Opacity=60);
  -moz-opacity:0.6;
  opacity: 0.6;
  color:#fff;*/
  padding: 0;
  background:#fff;
  text-align:center;
  font-size:14px;
}

.logoWrapper{
  height: 64px;
  border-right: 1px solid #dddddd;
}

.accountMenu li{
  font-size:14px;
}

:global(.fr){
  float:right;
}

:global(.fr li){
  float:left;
  padding:0 5px;
}




