
.layout{
  height: 100%;
  background: url(../../assets/eagle.jpg) no-repeat top;
  background-size: cover;
}

.footer{
  text-align: center;
}

.logo{
  height: 64px;
}

.header{
  filter:alpha(Opacity=70);
  -moz-opacity:0.7;
  opacity: 0.7;
}

.loginInfo{
  font-size:14px;
}

.loginInfo p,a{
  padding:0 10px;
}

.welcomeInfo{
  float:right;
  font-size:14px;
  color:yellowgreen;
}

.logoutWrapper{
  float:right;
}




